@import "tailwindcss" prefix(fl);
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--fl-radius) - 4px);
  --radius-md: calc(var(--fl-radius) - 2px);
  --radius-lg: var(--fl-radius);
  --radius-xl: calc(var(--fl-radius) + 4px);
  --color-background: var(--fl-background);
  --color-foreground: var(--fl-foreground);
  --color-card: var(--fl-card);
  --color-card-foreground: var(--fl-card-foreground);
  --color-popover: var(--fl-popover);
  --color-popover-foreground: var(--fl-popover-foreground);
  --color-primary: var(--fl-primary);
  --color-primary-foreground: var(--fl-primary-foreground);
  --color-secondary: var(--fl-secondary);
  --color-secondary-foreground: var(--fl-secondary-foreground);
  --color-muted: var(--fl-muted);
  --color-muted-foreground: var(--fl-muted-foreground);
  --color-accent: var(--fl-accent);
  --color-accent-foreground: var(--fl-accent-foreground);
  --color-destructive: var(--fl-destructive);
  --color-border: var(--fl-border);
  --color-input: var(--fl-input);
  --color-ring: var(--fl-ring);
  --color-chart-1: var(--fl-chart-1);
  --color-chart-2: var(--fl-chart-2);
  --color-chart-3: var(--fl-chart-3);
  --color-chart-4: var(--fl-chart-4);
  --color-chart-5: var(--fl-chart-5);
  --color-sidebar: var(--fl-sidebar);
  --color-sidebar-foreground: var(--fl-sidebar-foreground);
  --color-sidebar-primary: var(--fl-sidebar-primary);
  --color-sidebar-primary-foreground: var(--fl-sidebar-primary-foreground);
  --color-sidebar-accent: var(--fl-sidebar-accent);
  --color-sidebar-accent-foreground: var(--fl-sidebar-accent-foreground);
  --color-sidebar-border: var(--fl-sidebar-border);
  --color-sidebar-ring: var(--fl-sidebar-ring);
}

:root {
  --fl-radius: 0.625rem;
  --fl-background: oklch(1 0 0);
  --fl-foreground: oklch(0.145 0 0);
  --fl-card: oklch(1 0 0);
  --fl-card-foreground: oklch(0.145 0 0);
  --fl-popover: oklch(1 0 0);
  --fl-popover-foreground: oklch(0.145 0 0);
  --fl-primary: oklch(0.205 0 0);
  --fl-primary-foreground: oklch(0.985 0 0);
  --fl-secondary: oklch(0.97 0 0);
  --fl-secondary-foreground: oklch(0.205 0 0);
  --fl-muted: oklch(0.97 0 0);
  --fl-muted-foreground: oklch(0.556 0 0);
  --fl-accent: oklch(0.97 0 0);
  --fl-accent-foreground: oklch(0.205 0 0);
  --fl-destructive: oklch(0.577 0.245 27.325);
  --fl-border: oklch(0.922 0 0);
  --fl-input: oklch(0.922 0 0);
  --fl-ring: oklch(0.708 0 0);
  --fl-chart-1: oklch(0.646 0.222 41.116);
  --fl-chart-2: oklch(0.6 0.118 184.704);
  --fl-chart-3: oklch(0.398 0.07 227.392);
  --fl-chart-4: oklch(0.828 0.189 84.429);
  --fl-chart-5: oklch(0.769 0.188 70.08);
  --fl-sidebar: oklch(0.985 0 0);
  --fl-sidebar-foreground: oklch(0.145 0 0);
  --fl-sidebar-primary: oklch(0.205 0 0);
  --fl-sidebar-primary-foreground: oklch(0.985 0 0);
  --fl-sidebar-accent: oklch(0.97 0 0);
  --fl-sidebar-accent-foreground: oklch(0.205 0 0);
  --fl-sidebar-border: oklch(0.922 0 0);
  --fl-sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --fl-background: oklch(0.145 0 0);
  --fl-foreground: oklch(0.985 0 0);
  --fl-card: oklch(0.205 0 0);
  --fl-card-foreground: oklch(0.985 0 0);
  --fl-popover: oklch(0.205 0 0);
  --fl-popover-foreground: oklch(0.985 0 0);
  --fl-primary: oklch(0.922 0 0);
  --fl-primary-foreground: oklch(0.205 0 0);
  --fl-secondary: oklch(0.269 0 0);
  --fl-secondary-foreground: oklch(0.985 0 0);
  --fl-muted: oklch(0.269 0 0);
  --fl-muted-foreground: oklch(0.708 0 0);
  --fl-accent: oklch(0.269 0 0);
  --fl-accent-foreground: oklch(0.985 0 0);
  --fl-destructive: oklch(0.704 0.191 22.216);
  --fl-border: oklch(1 0 0 / 10%);
  --fl-input: oklch(1 0 0 / 15%);
  --fl-ring: oklch(0.556 0 0);
  --fl-chart-1: oklch(0.488 0.243 264.376);
  --fl-chart-2: oklch(0.696 0.17 162.48);
  --fl-chart-3: oklch(0.769 0.188 70.08);
  --fl-chart-4: oklch(0.627 0.265 303.9);
  --fl-chart-5: oklch(0.645 0.246 16.439);
  --fl-sidebar: oklch(0.205 0 0);
  --fl-sidebar-foreground: oklch(0.985 0 0);
  --fl-sidebar-primary: oklch(0.488 0.243 264.376);
  --fl-sidebar-primary-foreground: oklch(0.985 0 0);
  --fl-sidebar-accent: oklch(0.269 0 0);
  --fl-sidebar-accent-foreground: oklch(0.985 0 0);
  --fl-sidebar-border: oklch(1 0 0 / 10%);
  --fl-sidebar-ring: oklch(0.556 0 0);
}
